
	body{
		background-color:#97CA97;
		width:100%;
		height:100%;
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
		margin:0px;
		padding:0px;
	}
	
	p {
		margin: auto;
		font-size: 200%;
		font-family: Comic Sans, Comic Sans MS, cursive, tahoma;
		text-align: center;
	}
	
	input {
		font-size: 150%;
		border-radius: 5px;
		
	}
	
	a{
		color:#FF0000;
		text-decoration:none;
		padding:10px;
	}
	
	img {
		position: absolute;
		top: 0px;
		padding: 1px 1px 1px 1px; 
		border: 1px solid #000000;
		background-color: #FFF;
		border-radius: 4px;		
	}
	
	img.cover {
		position: absolute;
		padding-left: 0px;
		padding-right: 0px;
		
	}
	
	.card{
		width:71px;
		height:96px;		
		background-color: #FFF;
		padding-top:0px;	
		padding-left:0px;	
		position:absolute;
		left:0px;
		top:0px;
		overflow:visible;
		border-radius: 4px;
	}

	.deck{
		width:250px;
		height:150px;
		position:absolute;
		left:20px;
		top:100px;	
	}
	
	.deck_hidden{
		width:72px;
		height:100px;
		left:45px;
		top:22px;
		position:absolute;
		border:1px dotted #CCC;
		background-color: #ACD5AC;
	}
	
	.deck_shown{
		width:72px;
		height:100px;
		left:170px;
		top:22px;
		position:absolute;
		border:1px dotted #CCC;
		background-color: #ACD5AC;
	}

	.aces{
		width:450px;
		height:150px;
		position:absolute;
		left:310px;
		top:100px;
	}
	
	div.ace {
		width: 72px;
		height: 98px;
		position: absolute;
		top: 20px;
		border: 1px dotted #CCC;
		background-color: #ACD5AC;
	}
	 
	.seven{
		width:750px;
		height:150px;
		position:absolute;
		left:15px;
		top:300px;		
	}
	
	div[id*="js_seven_card"] {
		width: 74px;
		height: 100px;
		position: absolute;
		top: 20px;
		background-color: #ACD5AC;
	}
	
	
